/* setting the box sizing style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ViewHSS {
    width: 10%;
    font-size: 20px;
    margin: 50px auto auto 50px;
    color: darkred;
    
}

.Coding {
    display: flex;
    width: auto; height: 600px;
    justify-content: center;
    margin: 100px;
    font-size: 36px;
    flex-direction: column;
}

.Coding h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Coding p {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.StartQ {
    font-size: 36px;
    border-radius: 1rem;
    padding: 10px 15px;
    display: inline-block;
    margin: 1%;
}
.StartQ:hover {
    background-color: purple;
    border: 2px solid purple;
    color: white;
}