/* setting the box sizing style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .right {
    float: right;
    margin: 50px 30px;
  }
  
  .left {
    float: left;
    margin: 50px 30px;
  }
  
  .nav {
    display: inline-block;
    width: 98vw;
    border-radius: 5px;
    margin: 6px;
  }
  
  body {
    font-family: 'Roboto Slab', arial;
    background-color: #fff5f8;
  }
  
<<<<<<< HEAD
  .introbody {
=======
  .codingBody {
>>>>>>> 6d25013a74d2984a27e5784d8a1c023cf4a3cc52
    text-align: center;
    padding: 12vh;
  }
  
  h1 {
    color: #087a11;
    font-family: cursive;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  h3 {
    margin: 2%;
  }
  
  button {
    border: none;
    background-color: #be3b3b;
    color: white;
    border-radius: 5px;
    padding: 20px 32px 20px 32px;
    font-size: 26px;
    font-family: 'Roboto Slab', arial;
    margin: 2%;
  }
  
  button:hover {
    transition-duration: 0.4s;
    background-color: #413ef5;
  }
  
<<<<<<< HEAD
  .intro {
    text-align: center;
  }
=======
  .coding {
    text-align: center;
  }
  
>>>>>>> 6d25013a74d2984a27e5784d8a1c023cf4a3cc52
