/* nav bar */
.timer {
  float: right;
}

.timer:hover {
  color: blue
}

.viewscore {
  float: left;
}

#nav {
  display: inline-block;
  width: 98vw;
  margin: 6px;
}

/* main section */

body {
  font-family: 'Roboto Slab', arial;
  background-color: #fff5f8;
}

#Body {
  text-align: center;
  padding: 12vh;
}

h1 {
  font-family:cursive;
  font-size: 36px;
  
}

p {
  padding: 10px 8px 10px 8px;
  font-size: 18px;
  font-family: 'Roboto Slab', arial;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue
}

button {
  border: none;
  background-color: coral;
  color: #ffff;
  border-radius: 5px;
  padding: 10px 16px 10px 16px;
  font-size: 17px;
  font-family: 'Roboto Slab', arial;
  margin: 4px;
}

button:hover {
  transition-duration: 0.4s;
  background-color: #ff80a4;
}

#Intro {
  text-align: center;
}